# SPDX-License-Identifier: GPL-2.0
# The two onboard RTL8125 controllers have no programmed MAC address.
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="r8169", DEVPATH=="*/fe170000.pcie/*/net/*", \
	RUN+="bdy-g98-stable-mac $env{DEVPATH} rtl8125-fe170000"
ACTION=="add", SUBSYSTEM=="net", DRIVERS=="r8169", DEVPATH=="*/fe180000.pcie/*/net/*", \
	RUN+="bdy-g98-stable-mac $env{DEVPATH} rtl8125-fe180000"
